a.nav-link.active {
    border-bottom: 3px solid #2f80ed;
    border-radius: 3px;
}

div.nav-item {
    text-align: center;
}
a.nav-link {
    text-align: center;
    color: black;
    display: inline-block;
    padding: 0.5rem 2rem;
}

.tab-content {
    margin-top: 15px;
}

#task-list {
    list-style: none;
    padding-left: 0;
    margin-top: 30px;
}

#task-list li input[type="checkbox"] {
    height: 20px;
    margin-right: 15px;
}
label.done {
    text-decoration: line-through;
}

.deleteTaskButton:hover {
    cursor: pointer;
}